

<div class="contenedor">

    <div class="contenedor-hijo">
        <div>
            <div>
                <p class="titulo">EDITAR PERFIL</p>
            </div>

            <div class="form-contenedor">

                <div class="one">
                    <div class="image-container">
                        <p>imagen</p>
                    </div>
                </div>

                <input type="text" placeholder="Usuarios" class="input">
                <br>
                <input type="text" placeholder="Apellido" class="input">
                <br>
                <input type="password" placeholder="Contraseña" class="input">

                <br>
                <select class="input" style="margin-bottom: 20px;">
                    <option>Hombre</option>
                    <option>Mujer</option>
                    <option>Otro</option>
                </select>
                <input type="text" placeholder="Ciudad de residencia" class="input">
                <br>
                <textarea   placeholder="Descripcion del perfil">

                </textarea>
                <br>
                <div style="display: flex; margin: 10px ; margin-bottom: 20px;">
                    <label for="checkbox">¿Vendedor?</label>
                    <input type="checkbox" style="">
                </div>
            
                <!-- <input type="submit" placeholder="Enviar">-->
                <a href="#" class="boton">Registro</a>
        </div>
        </div>
    
    </div>

</div>
