
<div class="contenedor">

    <div class="contenedor-hijo">

        <div class="contenedor1">
           <!-- <img src="screen.jpg"> -->
            <p class="titulo-icono">Ticketek</p>
        </div>

        <div>
            <div>
                <p class="ingresar">Ingresar</p>
            </div>
            <div class="form-contenedor">
                    <input type="text" placeholder="Usuarios" class="input">
                    <br>
                    <input type="password" placeholder="Contraseña" class="input">
                    <br>
                    <!-- <input type="submit" placeholder="Enviar">-->
                    <a href="#" class="boton">Iniciar sesión</a>
            </div>
            <!-- routerLink -->
            <div><p>No tienes una cuenta? <a href="auth/register"> Registrate</a></p></div>
        </div>
    
        <a href="/home">Ir al home</a> 
    </div>

</div>
