

<div class="contenedor">

    <div class="contenedor1">
        <!-- <img src="screen.jpg"> -->
        <a href="home" class="titulo-icono">Ticketek</a>
    </div>
</div>

<nav>
    <ul>
        <li>
            |
            <a href="auth/login">Login</a>
            |
            <a href="auth/register">Registro</a>
            |
            <a href="home">Home</a>
            |
            <a href="producto">Producto</a>
            |
            <a href="perfil">Perfil</a>
            |
            <a href="crear-evento">Crear Evento</a>
            |
        </li>
    </ul>
</nav>



<router-outlet></router-outlet>