

<div class="contenedor">

    <div class="contenedor-hijo">
        <div>
            <div>
                <p class="ingresar">CREAR UN NUEVO EVENTO</p>
            </div>


            <div class="form-contenedor">
                    <input type="text" placeholder="TITULO" class="input">
                    <br>
                    <input type="text" placeholder="DIRECCION" class="input">
                    <br>
                    <input type="date" placeholder="FECHA" class="input">
                    <br>
                    <textarea class="input textarea" placeholder="DESCRIPCION"></textarea>
                    <br>
                    <input type="number" placeholder="capacidad" class="input">
                    <br>
                    <div style="display: flex; align-items: center;">
                        <input type="number" placeholder="precio" class="input">
                        <p style="margin-top: 30px; margin-left: 10px; margin-right: 10px;">$ARS</p>
                    </div>

                    <br>

                    <!-- <input type="submit" placeholder="Enviar">-->
                    <a href="#" class="boton">CREAR EVENTO</a>
            </div>
        </div>
    
    </div>

</div>
