

<div class="container-sm">
    <div class="padd w-75 container border border-dark-subtle">
        <div class="row text-center">
            <div class="padds col-md-6 col-lg-6 mb-4 border border-dark-subtle rounded-4">
                <img src="../../assets/imagenes/image.png" class="img-fluid" alt="Imagen del concierto" />
                <h3>Titulo del concierto</h3>
                <p>Esta es la DESCRIPCION de la entrada para ir a ver el concierto</p>
                <div class="containerBtn">
                    <a href="producto" class="btnIzquierdo"><p>Ver más</p></a>
                    <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
                </div>
            </div>
            
            <div class=" padds col-md-6 col-lg-6 mb-4 border border-dark-subtle rounded-4">
                <img src="assets/imagenes/image.png" class="img-fluid" alt="Imagen del concierto" />
                <h3>Titulo del concierto</h3>
                <p>Esta es la DESCRIPCION de la entrada para ir a ver el concierto</p>
                <div class="containerBtn">
                    <a href="producto" class="btnIzquierdo"><p>Ver más</p></a>
                    <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
                </div>
            </div>

            <!-- Puedes agregar más divs aquí -->
            <div class="padds col-md-6 col-lg-6  mb-4 border border-dark-subtle rounded-4">
                <img src="assets/imagenes/image.png" class="img-fluid" alt="Imagen del concierto" />
                <h3>Titulo del concierto</h3>
                <p>Esta es la DESCRIPCION de la entrada para ir a ver el concierto</p>
                <div class="containerBtn">
                    
                    <a href="producto" class="btnIzquierdo"><p>Ver más</p></a>
                    <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
                </div>
            </div>

            <div class="padds col-md-6 col-lg-6  mb-4 border border-dark-subtle rounded-4">
                <img src="assets/imagenes/image.png" class="img-fluid" alt="Imagen del concierto" />
                <h3>Titulo del concierto</h3>
                <p>Esta es la DESCRIPCION de la entrada para ir a ver el concierto</p>
                <div class="containerBtn">
                    <a href="producto" class="btnIzquierdo"><p>Ver más</p></a>
                    <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
                </div>
            </div>
        </div>
    </div>
</div>



















