<div class="contenedor">
    <div class="contenedor-hijo">
        
        <div class="entrada">
            <img src="./image.png" width="100%"  />
            <h3>Titulo del concierto</h3>
            <p>Esta es la DESCRIPCION de la entrada para ir a ver el conciero</p>

            <div class="containerBtn">
                <a href="producto" class="btnIzquierdo"><p>Ver mas</p></a>
                <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
            </div>
        </div>
        
        <div class="entrada">
            <img src="./image.png" width="100%"  />
            <h3>Titulo del concierto</h3>
            <p>Esta es la DESCRIPCION de la entrada para ir a ver el conciero</p>

            <div class="containerBtn">
                <a href="producto" class="btnIzquierdo"><p>Ver mas</p></a>
                <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
            </div>
        </div>
        
        <div class="entrada">
            <img src="./image.png" width="100%"  />
            <h3>Titulo del concierto</h3>
            <p>Esta es la DESCRIPCION de la entrada para ir a ver el conciero</p>

            <div class="containerBtn">
                <a href="producto" class="btnIzquierdo"><p>Ver mas</p></a>
                <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
            </div>
        </div>
        
        <div class="entrada">
            <img src="./image.png" width="100%"  />
            <h3>Titulo del concierto</h3>
            <p>Esta es la DESCRIPCION de la entrada para ir a ver el conciero</p>

            <div class="containerBtn">
                <a href="producto" class="btnIzquierdo"><p>Ver mas</p></a>
                <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
            </div>
        </div>

    </div>
</div>




















