
<div class="container-sm">
    <div class="w-75 container border border-dark-subtle">

        <div class="form-floating mt-3 mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email Adress</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
    <div class="d-grid mt-3 mb-3 gap-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <div>
        <p class="text-center">You dont have account?
            <a href="auth/register">Register</a>
        </p>
    </div>

    <div class="text-center">
        <a href="/home">Go to home</a> </div>
    </div>

</div>

