<ul class="nav justify-content-center border-bottom mb-3">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="auth/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="auth/register">Registro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="auth/profile">Perfil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="auth/editProfile">Editar Perfil</a>
    </li>
    <li>
      <a class="nav-link disabled" href="crear-evento">Crear Evento</a>
    </li>
    <li>
        <a class="nav-link" href="home">Home</a>
    </li>
    <li>
      <a class="nav-link" href="product">Producto</a>
    </li>
    <li>
      <a class="nav-link" href="comprar">Comprar</a>
    </li>
  </ul>

  

