



<div class="container-sm">

    <div class="padd w-75 container border border-dark-subtle rounded-4">

        <div class="row ">

            <div class="col-lg-4 col-sm-12">
                <img src="assets/images/image.png" 
                     alt="No es más que una imagen" 
                     width="300px" 
                     height="100px"
                >

            </div>

            <div class="col-lg-8  col-sm-12">

                <h3>Titulo del evento</h3>

                <p>Detalle o descripcion 
                    del evento: Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi 
                    rem quae voluptates accusamus soluta eligendi placeat? Quod minima est, 
                    natus aliquam velit amet fugit laboriosam, ad excepturi esse qui! Consequatur.</p>
                    
            </div>

        </div>

        <div class="botonComprar">
            <a href="comprar" class="comprarBtn">
                COMPRAR
            </a>
        </div>
    </div>


</div>

