



<div class="contenedor">

    <div class="contenedor-hijo">

        <div class="flex">

            <div class="imagenIzquierda">
                <img src="assets/images/image.png" 
                     alt="No es más que una imagen" 
                     width="300px" 
                     height="100px"
                >

            </div>

            <div class="contenido">

                <h3>Titulo del evento</h3>

                <p>Detalle o descripcion 
                    del evento: Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi 
                    rem quae voluptates accusamus soluta eligendi placeat? Quod minima est, 
                    natus aliquam velit amet fugit laboriosam, ad excepturi esse qui! Consequatur.</p>
                    
            </div>

        </div>

        <div class="botonComprar">
            <a href="comprar" class="comprarBtn">
                COMPRAR
            </a>
        </div>
    </div>


</div>

