<div class="container-sm">
    <div class="w-75 container border border-dark-subtle">

        <div class="flex">

            <div class="one">
                <div class="image-container">
                    <p>imagen</p>
                </div>
            </div>
            <div class="two">
                <p class="nombre-perfil">Jeremias Carrizo</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis 
                    dolorem molestias esse cumque quis omnis adipisci quasi odio eum quae, 
                    dolores, repellendus impedit reprehenderit. Nam quia provident fugiat unde recusandae.</p>
            </div>
            <div class="three">
                <a href="crear-evento" class="create-btn">
                    <p>CREAR EVENTO</p>
                </a>
                <a href="editar-perfil" class="create-btn2">
                    <p>EDITAR PERFIL</p>
                </a>
             </div>
        </div>
        <hr>
        <div class="row text-center padd">


        
            <div class="padds col-md-6 col-lg-6 mb-4 border border-dark-subtle rounded-4">
                <img src="../../assets/imagenes/image.png" class="img-fluid" alt="Imagen del concierto" />
                <h3>Titulo del concierto</h3>
                <p>Esta es la DESCRIPCION de la entrada para ir a ver el concierto</p>
                <div class="containerBtn">
                    <a href="producto" class="btnIzquierdo"><p>Ver más</p></a>
                    <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
                </div>
            </div>
            
        
            <div class="padds col-md-6 col-lg-6 mb-4 border border-dark-subtle rounded-4">
                <img src="../../assets/imagenes/image.png" class="img-fluid" alt="Imagen del concierto" />
                <h3>Titulo del concierto</h3>
                <p>Esta es la DESCRIPCION de la entrada para ir a ver el concierto</p>
                <div class="containerBtn">
                    <a href="producto" class="btnIzquierdo"><p>Ver más</p></a>
                    <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
                </div>
            </div>
            
        
            <div class="padds col-md-6 col-lg-6 mb-4 border border-dark-subtle rounded-4">
                <img src="../../assets/imagenes/image.png" class="img-fluid" alt="Imagen del concierto" />
                <h3>Titulo del concierto</h3>
                <p>Esta es la DESCRIPCION de la entrada para ir a ver el concierto</p>
                <div class="containerBtn">
                    <a href="producto" class="btnIzquierdo"><p>Ver más</p></a>
                    <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
                </div>
            </div>
            
        
            <div class="padds col-md-6 col-lg-6 mb-4 border border-dark-subtle rounded-4">
                <img src="../../assets/imagenes/image.png" class="img-fluid" alt="Imagen del concierto" />
                <h3>Titulo del concierto</h3>
                <p>Esta es la DESCRIPCION de la entrada para ir a ver el concierto</p>
                <div class="containerBtn">
                    <a href="producto" class="btnIzquierdo"><p>Ver más</p></a>
                    <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
                </div>
            </div>
            
        </div>
        
    </div>
    

</div>





