<div class="contenedor">

    <div class="contenedor-hijo">

        <div class="flex">

            <div class="one">
                <div class="image-container">
                    <p>imagen</p>
                </div>
            </div>
            <div class="two">
                <p class="nombre-perfil">Jeremias Carrizo</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis 
                    dolorem molestias esse cumque quis omnis adipisci quasi odio eum quae, 
                    dolores, repellendus impedit reprehenderit. Nam quia provident fugiat unde recusandae.</p>
            </div>
            <div class="three">
                <a href="crear-evento" class="create-btn">
                    <p>CREAR EVENTO</p>
                </a>
                <a href="editar-perfil" class="create-btn2">
                    <p>EDITAR PERFIL</p>
                </a>
             </div>
        </div>
        <hr>
        <div class="contenedor-hijo2">


        
            <div class="entrada">
                <img src="../../assets/imagenes/image.png" width="100%"  />
                <h3>Titulo del concierto</h3>
                <p>Esta es la DESCRIPCION de la entrada para ir a ver el conciero</p>

                <div class="containerBtn">
                    <a href="producto" class="btnIzquierdo"><p>Ver mas</p></a>
                    <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
                </div>
            </div>
            
            <div class="entrada">
                <img src="assets/imagenes/image.png" width="100%"  />
                <h3>Titulo del concierto</h3>
                <p>Esta es la DESCRIPCION de la entrada para ir a ver el conciero</p>

                <div class="containerBtn">
                    <a href="producto" class="btnIzquierdo"><p>Ver mas</p></a>
                    <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
                </div>
            </div>
            
            <div class="entrada">
                <img src="assets/imagenes/image.png" width="100%"  />
                <h3>Titulo del concierto</h3>
                <p>Esta es la DESCRIPCION de la entrada para ir a ver el conciero</p>

                <div class="containerBtn">
                    <a href="producto" class="btnIzquierdo"><p>Ver mas</p></a>
                    <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
                </div>
            </div>
            
            <div class="entrada">
                <img src="assets/imagenes/image.png" width="100%"  />
                <h3>Titulo del concierto</h3>
                <p>Esta es la DESCRIPCION de la entrada para ir a ver el conciero</p>

                <div class="containerBtn">
                    <a href="producto" class="btnIzquierdo"><p>Ver mas</p></a>
                    <a href="comprar" class="btnDerecho"><p>Comprar</p></a>
                </div>
            </div>
    
        </div>
        
    </div>
    

</div>





