
.titulo-icono {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    background-color: #E8EC67;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;    
}

.contenedor1 {
    width: 200px;
    justify-content: center;
    padding: 20px;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}