

<div class="container-sm">

    <div class="w-75 container border border-dark-subtle">
            <div class="centrar-titulo">
                <p class="titulo">EDITAR PERFIL</p>
            </div>

            <div class="">

                <div class="one">
                    <div class="image-container">
                        <p>imagen</p>
                    </div>
                </div>

                <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control" id="floatingName">
                    <label for="floatingName">Usuarios</label>
                </div>
                <br>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingSurame">
                    <label for="floatingSurname">Apellido</label>
                </div>
                <br>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword">
                    <label for="floatingPassword">Contraseña</label>
                </div>

                <br>
<div class="select">

    <select class="input" style="margin-bottom: 20px;">
        <option>Hombre</option>
        <option>Mujer</option>
        <option>Otro</option>
    </select>
</div>
                <br>
                
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingCity">
                    <label for="floatingCity">Ciudad de Residencia</label>
                </div>
                <br>

                <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingDescription">
                    <label for="floatingDescription">Descripcion</label>
                </div>

                <br>
                <div class="select">
                <div style="display: flex; margin: 10px ; margin-bottom: 20px; margin-right: 20px;">
                    <label for="checkbox">¿Vendedor?</label>
                    <input type="checkbox" style="">
                </div>

                    
                    <!-- <input type="submit" placeholder="Enviar">-->
                    <a href="#" class="boton">Registro</a>
                </div>
        </div>
    
    </div>

</div>
