
<div class="contenedor">

    <div class="contenedor-hijo">

        <div class="contenedor1">
           <!-- <img src="screen.jpg"> -->
            <p class="titulo-icono">Ticketek</p>
        </div>

        <div>
            <div>
                <p class="ingresar">Registro</p>
            </div>
            <div class="form-contenedor">
                    <input type="text" placeholder="Usuarios" class="input">
                    <br>
                    <input type="text" placeholder="Apellido" class="input">
                    <br>
                    <input type="password" placeholder="Contraseña" class="input">
                    <br>
                        <select class="input" style="margin-bottom: 20px;">
                            <option>Hombre</option>
                            <option>Mujer</option>
                            <option>Otro</option>
                        </select>
                    <input type="text" placeholder="Ciudad de residencia" class="input">
                    <br>
                    <div style="display: flex; margin: 10px ; margin-bottom: 20px;">
                        <label for="checkbox">¿Vendedor?</label>
                        <input type="checkbox" style="">
                    </div>
                    <!-- <input type="submit" placeholder="Enviar">-->
                    <a href="#" class="boton">Registro</a>
            </div>
            <!-- routerLink -->
            <div><p>Ya tienes una cuenta? <a href="auth/login"> Login</a></p></div>
        </div>
        <a href="/home">Ir al home</a>
    
    </div>

</div>
